<div class="row">
  <div class="col-xs-12" cc>
    <img src="{{selectedHardware?.imagePath}}" alt="" class="img-responsive">
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>{{selectedHardware?.name}}</h1>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-12">
    <p>{{selectedHardware?.description}}</p>
  </div>
</div>