<div class="row">
  <div class="col-md-5">
    <app-hardware-list (hardwareSelected)="selectedHardware = $event"></app-hardware-list>
  </div>
  <div class="col-md-7">
    <app-hardware-details [selectedHardware]="selectedHardware"></app-hardware-details>
  </div>
</div>
