<div class="row">
  <div class="col-xs-12">
    <h2>Hardware List</h2>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <ul class="list-group">
      <app-hardware-item *ngFor = 'let hardware of hardwareList' [hardware]="hardware" (click)="onSelected(hardware)"></app-hardware-item>
    </ul>
  </div>
</div>

